<h1><%= title %></h1>
<% if(!isValid){ %>
    <h3>Token Expired!!!</h3>
<% }else{ %>
    <form action="/users/reset-password/<%= accessToken %>" method="POST" id="reset-password-form">
        <input type="password" name="password" placeholder="Enter your password" required>
        <input type="password" name="confirm_password" placeholder="Enter your password again" required>
        <input type="submit" value="Change Password">
    </form>
<% } %> 