#layout-footer{
    color: white;
    a{
        color: white;
        text-decoration: none;
    }

    background: black;
    padding: 5px 10px;
    display: flex;
    justify-content: space-evenly;
    

    // .footer-nav{
    //     ul{
    //         list-style: none;
    //     }
    // }
}