<div style="color: yellow; background-color: grey;">

    <p>Hi <%= comment.user.name %></p>
    <br>
    <br>
    <p>Your Comment <strong><%= comment.content %></strong> Just go Published on Codeial.</p>
    <br>
    <br>
    <p>Thanks!!</p>

</div>